/* WHEN MAKING A NEW THEME, DO NOT CHANGE ANYTHING IN HERE */

body {
  margin: 0;
}

button {
  font-size: 24px;
}

.center {
  text-align: center;
}

#content {
  margin-bottom: 80px;
  margin-left: 1%;
  margin-top: 80px;
}

#content button {
  margin-left: 32px;
}

header {
  font-size: 48px;
  padding-left: 1%;
  position: fixed;
  top: 0;
  width: 100%;
}

header button {
  font-size: 24px;
  height: 48px;
  margin-top: -24px;
  padding-bottom: 4px;
  position: absolute;
  top: 50%;
}

header .right {
  float: right;
  right: 2%;
}

.msg {
  word-break: break-all;
}

#msgForm {
  bottom: 0;
  margin-bottom: 16px;
  padding: 4px 0px;
  position: fixed;
  width: 100%;
}

#msgForm button {
  margin-left: 0;
}

#msgSender {
  border-radius: 20px;
  font-size: 20px;
  margin-right: .5%;
  padding: 4px 8px;
  width: 90%;
}

/* Stuff for the fancy menu */
.sidenav {
  height: 100%;
  overflow-x: hidden;
  position: fixed;
  padding-top: 60px;
  top: 0;
  transition: 0.5s;
  width: 250px;
  z-index: 1;
  font-size: 25px;
}

.sidenav * {
  margin-left: 32px;
}

.sidenav div {
  margin-left: 0px;
}

.sidenav-left {
  left: -250px;
}

.sidenav-right {
  right: -250px;
}

.sidenav a {
  padding: 8px 8px 8px 16px;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
