@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

* {
  font-family: Roboto Mono, monospace;
}

a {
  color: cyan;
  transition-duration: .3s;
}

a:hover {
  color: blue;
  background: cyan;
}

body {
  background: rgb(50,50,50);
}

button {
  background: grey;
  border: 5px outset darkgrey;
  transition-duration: .3s;
  border-radius: 24px;
}

button:hover {
  background: silver;
  border: 5px inset darkgrey;
}

#content {
  color: darkgrey;
}

header {
  background: darkcyan;
}

#login input {
  border-radius: 24px;
  font-size: 24px;
  height: 32px;
  padding: 0px 8px;
  width: 384px;
}

#msgSender {
  background: silver;
  border: 3px inset darkgrey;
}